---
import Logo from '../components/Logo.astro';
import Marquee from '../components/Marquee.astro';
import CustomCursor from '../components/CustomCursor.astro';
import ScrollAnimations from '../components/ScrollAnimations.astro';
import ScrollHint from '../components/ScrollHint.astro';
import FallingLogos from '../components/FallingLogos.astro';
import DVDLogo from '../components/DVDLogo.astro';
import IdleAnimationManager from '../components/IdleAnimationManager.astro';
import '../styles/global.css';

const siteSettings = {
  email: "andfriendsstudio23@gmail.com",
  instagram: "and.friends.studio",
  aboutCopy: "&FRIENDS Studio is the collective creative practice where designers, developers, and artists work and play together on projects that come their way or come to mind."
};
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&FRIENDS Studio</title>
</head>
<body>
    <div class="hero-state">
        <div class="top-bar">
            <div class="links">
                <a href={`mailto:${siteSettings.email}`}>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" >
                        <path d="M7 17L17 7"></path>
                        <path d="M7 7h10v10"></path>
                    </svg>
                    Email
                </a>
                <a href={`https://instagram.com/${siteSettings.instagram}`} target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3">
                        <path d="M7 17L17 7"></path>
                        <path d="M7 7h10v10"></path>
                    </svg>
                    Instagram
                </a>
            </div>
            <div class="about-copy">
                {siteSettings.aboutCopy}
            </div>
        </div>

        <Marquee />

        <Logo />

        <div class="footer-bar">
            <div>© &FRIENDS Studio</div>
            <div>2023-2025</div>
            <div>All Rights Reserved</div>
        </div>
    </div>
    <ScrollHint />
    <CustomCursor />
    <ScrollAnimations />
    <FallingLogos />
    <DVDLogo />
    <IdleAnimationManager />
</body>
</html>