---
// Marquee component - simplified structure
---

<div class="marquee-wrapper">
    <div class="marquee-track">
        <div class="grey-box tall" data-project="Project Alpha" data-client="Netflix" data-year="2024"></div>
        <div class="grey-box wide" data-project="Brand Identity" data-client="Apple" data-year="2023"></div>
        <div class="grey-box square" data-project="Motion Design" data-client="Spotify" data-year="2024"></div>
        <div class="grey-box tall" data-project="Immersive Experience" data-client="Meta" data-year="2023"></div>
        <div class="grey-box wide" data-project="Art Installation" data-client="MoMA" data-year="2024"></div>
        <div class="grey-box square" data-project="Live Event" data-client="Coachella" data-year="2023"></div>
        <div class="grey-box tall" data-project="Product Launch" data-client="Tesla" data-year="2024"></div>
        <div class="grey-box wide" data-project="Creative Direction" data-client="Nike" data-year="2023"></div>
    </div>
</div>